# Server Configuration
SERVER_IP=192.168.5.9
NETBOX_HOST=netbox.home
NAUTOBOT_HOST=nautobot.home

# Database Configuration
POSTGRES_USER=netops
POSTGRES_PASSWORD=CHANGE_ME_STRONG
NETBOX_DB=netbox
NAUTOBOT_DB=nautobot

# NetBox Configuration
NETBOX_SECRET_KEY=to_be_generated
NETBOX_SUPERUSER_NAME=admin
NETBOX_SUPERUSER_EMAIL=admin@example.com
NETBOX_SUPERUSER_PASSWORD=CHANGE_ME_STRONG
NETBOX_ALLOWED_HOSTS=*,localhost,127.0.0.1,${SERVER_IP},${NETBOX_HOST}

# Nautobot Configuration
NAUTOBOT_SECRET_KEY=to_be_generated
NAUTOBOT_SUPERUSER_NAME=admin
NAUTOBOT_SUPERUSER_EMAIL=admin@example.com
NAUTOBOT_SUPERUSER_PASSWORD=CHANGE_ME_STRONG
NAUTOBOT_ALLOWED_HOSTS=*,localhost,127.0.0.1,${SERVER_IP},${NAUTOBOT_HOST}
